@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

/* global css */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:grey;
}
.main-container{
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 390px;
    height: 840px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 24px;
}
button{
    width: 342px;
    height: 48px;
    border-radius: 8px;
 
}
a{
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* custom css */
.welcome-container{
    display:flex;
    flex-direction: column;
}
.title{
    color:#4280EF ;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    display: flex;
    align-items: center;
    margin-top: 134px;
}
.title-para{
    margin-top: 23px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
}
.btn-label{
    margin-top: 227px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2C2C2C;
}
.signin-btn{
    margin-top: 13px;
    background:#4280EF;
    border: none;
    padding: 5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.signin-btn>a{
    color: #FFFFFF !important;
}
.signin-btn:hover{
    background: rgba(66, 128, 239, 0.6);
}
.signin-btn:active{
    background: #144294;
}

.signup-para{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
margin-top: 27px;
color: #2C2C2C;
}
.signup-para>span>a{
    color:#4280EF;
}
.hidden{
    display: none !important;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}
.form-group>input{
    background: #F5F5F5;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2C2C2C;
    padding: 12px;
    margin-top: 5px;
}
.form-group>label{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #2C2C2C;
    margin: 5px;
}
.forgot-para{
    text-align: end;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}
.forgot-para>a{
    color: #F78720;

}
.signin-btn{
    color: #fff !important;
}
.back-btn{
    margin-top: 10px;
    margin-bottom: -30px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
    margin-right: 10px;
}
.back-btn>i{
    font-size: 13px;
    line-height: 20px;
    margin-right:  25px;
}
.back-btn>a{
    color: #2C2C2C !important;

}
.signin-btn-google
{
    margin-top: 82px;
    margin-bottom: 16px;
}
.signin-btn-google,
.signin-btn-fb
{
    background: #fff;
    border: 1px solid #4280EF;
    padding: 5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4280EF;
}
.signin-btn-google:hover,
.signin-btn-fb:hover{
    border: 4px solid #4280ef;   
}
.signin-btn-google:active,
.signin-btn-fb:active{
    background: #4281ef42;
}
.terms-para{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #2C2C2C;
    margin-top: 20px;
}
.signup-group>input{
    margin-bottom: 1px;
}
.signup-group{
    margin-top: 25px !important;
}
.btn-continue{
    margin-top: 32px !important;
}
.code-box {
    height: 298px;
    width: 343px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
}
.code-para{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #2C2C2C;
}
.btn-2{
    display: flex; 
    padding: 10px;
}
.otp-input {
    display: flex;
    justify-content: space-evenly;
}

.otp-input input{
    width: 55px;
    height: 75px;
    font-size: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: lightgrey;
    padding: 14px;
}  

.btn-2{
    display: flex;
    justify-content: space-evenly;
}

.center-1{
    display:flex;
    align-items: center;
    justify-content: center; 
}
.cancel-btn{
    margin: 13px 5px;
}